.ModelContainer{
    z-index: 999;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    visibility: hidden;
}
.unhideModelContainer{
    visibility: visible;
}
.ModelBackground{
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modelContent{
    cursor: default;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    align-items: center;
    position: relative;
    gap: 10px;
    overflow: hidden;
}
.modelContent.largeModel{
    width: 70%;
    max-width: 750px;
    min-width: 500px;
}
.modelContent.mediumModel{
    width: 50%;
    max-width: 600px;
    min-width: 400px;
}
.modelContent.smallModel{
    width: 30%;
    max-width: 500px;
    min-width: 300px;
}
.ModelContainer .modelHeading{
    font-size: 30px;

}
.ModelContainer .modelHeading .crossIcon{
    background: red;
    color: #fff;
    position: absolute;
    top:0%;
    right: 0%;
    padding: 3px;
    border-radius: 0 4px;
    cursor: pointer;
    border: 1px solid red;
}
.modelHeading .crossIcon:hover{
    background: #fff;
    color: red;
}
.modelBody{
    width: 100%;
    border-top: 2px solid grey;
    padding-top: 20px;
}
