.carDetailsPage{
    display: grid;
    gap: 20px;
    box-sizing: border-box;
}
.carDetailsWrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: calc(100% - 20vw);
    padding: 0 10vw;
    min-width: 978px;
    max-width: 1248px;
    gap: 20px;
    overflow: hidden;
    position: relative;
}
.leftSideWrapper{
    min-width: 616px;
    max-width: 822px;
}
.rightSideWrapper{
    min-width: 303px;
    max-width: 406px;
}