#carDetailsPage{
    display: flex;
    flex-direction: column;
}
.carDetailsWrapper{
    margin:30px 10%;
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.carouselWrapper{
    max-width: 850px;
}