.carouselCom{
    padding: 10px 30px;
}
#thumbnailContainer{
    position: relative;
    max-width: 900px;
}
.carouselThumbnails{
    height:122px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.carouselThumbnails::-webkit-scrollbar { 
    display: none;
}
.thumbnailImageWrapper{
    height: 90px;
    margin: 16px 16px 16px 0;
}
.thumbnailImage{
    height: 100%;
    width: 150px;
    border-radius: 8px;
    transition: transform 0.2s ease-out;
}
.thumbnailImage:hover{
    transform: scale(1.06);
}
.detailsSection{
    background: red;
}