.renderCarDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    padding: 10px;
    min-height: 80vh;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 8px;
}
.renderCarDetails .item{
    margin-bottom: 5px;
}
.renderCarDetails .carDetailsHeading{
    font-size: 22px;
    line-height: 30px;
    color: #2e054e;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
    margin: 0 35px 5px 0;
    font-weight: 600;
}
.renderCarDetails .carModel{
    text-transform: capitalize;
}
.renderCarDetails .priceProduct{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
.renderCarDetails img{
    height: 600px;
}