.carCard{
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    transition: transform 0.2s ease-out;
    border: 1px solid #e8e8e8;
    display: grid;
    gap:5px;
}
.carCard:hover{
    transform: scale(1.02);
    box-shadow: 0 2px 14px rgb(0 0 0 / 25%);
    border: none;
}
.imageWrapper{
    height: 180px;
    overflow: hidden;
}
.carCard img{
    width: 100%;
    height: 100%;
}
.carCard .carDetails{
    display: flex;
    font-family: "Roboto Condensed", sans-serif ;
    flex-direction: column;
    padding: 10px 20px;
}
.carCard .carDetails .carModel{
    font-size: 16px;
    font-weight: 600;
    color: #630063;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.carCard .carDetails .miscDetails{
    display: flex;
    text-transform: capitalize;
}
.carCard .carDetails .carPrice{
    font-size: 18px;
    font-weight: 600;
    color: #630063;
}
.cardBottom{
    color: grey;
    font-size: 11px;
    line-height: 17px;
    margin: 0 20px 12px;
    border-top: 2px solid #d6d7d8;
}
.cardBottom .cardBottomIcon{
    height: 9px;
    width: 9px;
}