#newCarsContainer{
    display: grid;
    gap: 20px;
}
.newCarsContent{
    width: 90vw;
    margin: auto;
    min-width: 978px;
    max-width: 1248px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}