.topbar{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr 1fr;
    gap:10px;
    width: 100%;
    padding: 15px 10vw;
    min-width: 978px;
    max-width: 1248px;
    height: 60px;
    white-space: nowrap;
    background: #fff;
    justify-items:start;
    font-family: 'Roboto Condensed', sans-serif;
}
.topBarItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}
.logoContent{
    min-width: 180px;
}
.logoIcon{
    height: 60px;
    width: 60px;
    fill: rgb(230, 43, 81);
}
.logoText{
    font-size: 30px;
    color: rgb(99,0, 163);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 600;
}
.searchArea{
    width: 90%;
    background-color: #f2f3f5;
    border-radius: 8px;
}
.searchField{
    width: 100%;
}
.searchBar{
    width: 80%;
    height: 100%;
    padding: 0 20px;
    border: none;
    outline: none;
    background-color: #f2f3f5;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}
.searchIcon{
    fill: grey;
    padding-right: 20px;
}
.cityOptions{
    visibility: hidden;
    position: absolute;
    top: 70px;
    background: #fff;
    display: grid;
    border-radius: 8px;
    z-index: 99;
    box-shadow: 0 2px 14px rgb(0 0 0 / 25%);
    font-size: 18px;
}
.cityOption{
    width: 150px;
    text-align: center;
    padding: 10px 0;
}
.selectHeading{
    font-size: 14px;
    color: grey;
}
.cityOption:hover{
    background: #f2f3f5
}
.newCars:hover .cityOptions{
    visibility: visible;
}