@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Yanone+Kaffeesatz:wght@200;600&display=swap');
#topbar{
    display: flex;
    padding: 10px 10%;
    height: 60px;
    background: #fff;
    justify-content:space-between;
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
}
#topbar .topBarItem{
    display: flex;
    justify-content: space-around;
    line-height: 60px;
    font-size: 20px;
    border-radius: 6px;
    min-width: 100px;
    cursor: pointer;
}
#topbar .topBarItem:hover{
    background: #f2f3f5;
}
#topbar .logoIconArea{
    margin-right: 20px;
    line-height: 0px;
}
#topbar .logoIcon{
    height: 60px;
    width: 60px;
    fill: rgb(230, 43, 81);
}
#topbar .logoText{
    font-size: 30px;
    color: rgb(99,0, 163);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 600;
}
#topbar .searchArea{
    width: 400px;
    background-color: #f2f3f5;
}
#topbar .searchArea input{
    width: 320px;
    padding: 0 20px;
    border: none;
    outline: none;
    border-radius: inherit;
    background-color: #f2f3f5;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}
#topbar .searchArea .searchIcon{
    height: 20px;
    padding-right: 20px;
}
#topbar .call{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    border-left: 2px solid #f2f3f5;
    color: rgb(230, 43, 81);
    justify-content: flex-end;
}
#topbar .call #callText{
    font-size: 15px;
}
#topbar .call #callNumber{
    font-weight: 600;
    text-shadow: 1px 1px 2px tomato;
}

.topBarItem .cityOptions{
    visibility: hidden;
    position: absolute;
    background: #fff;
    margin-top: 60px;
    display: grid;
    border-radius: 8px;
    z-index: 99;
    box-shadow: 0 2px 14px rgb(0 0 0 / 25%);
    font-size: 18px;
    line-height: 40px;
}
.cityOption{
    width: 150px;
    text-align: center;
}
.cityOptions .selectHeading{
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    color: grey;
}
.cityOptions .cityOption:hover{
    background: #f2f3f5
}
.newCars:hover .cityOptions{
    visibility: visible;
}