@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Yanone+Kaffeesatz:wght@200;600&display=swap');

.carCard{
    background: #fff;
    margin: 0 0 16px;
    border-radius: 8px !important;
    overflow: hidden;
    font-size: 14px;
    transition: transform 0.2s ease-out;
    border: 1px solid #e8e8e8;

}
.carCardWrapper{
    width: calc( 33% - 16px);
    padding: 0 8px 16px;

}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.carCard:hover{
    transform: scale(1.02);
    box-shadow: 0 2px 14px rgb(0 0 0 / 25%);
    border: none;
}
.imageWrapper{
    height: 200px;
    overflow: hidden;
}
img{
    width: 100%;
}
.carCard .carDetails{
    display: flex;
    font-family: "Roboto Condensed", sans-serif ;
    flex-direction: column;
    padding: 10px 20px;
}
.carCard .carDetails .carModel{
    font-size: 16px;
    font-weight: 600;
    color: #630063;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.carCard .carDetails .miscDetails{
    display: flex;
    text-transform: capitalize;
}
.carCard .carDetails .carPrice{
    font-size: 18px;
    font-weight: 600;
    color: #630063;
}
.carCard hr{
    border: 0.1px solid #f2f3f5;
}
.cardBottom{
    color: grey;
    font-size: 11px;
    line-height: 17px;
    margin: 0 20px 12px 20px;
}
.cardBottom .cardBottomIcon{
    height: 9px;
    width: 9px;

}