.gridContainer{
    padding: 50px 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(25px, auto);
    align-items: stretch;
    display: none;

}
.gridContainer:nth-child(odd){
    background: #fff;
}
.gridContainer .heading{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    gap:50px;
}
.Page-Content .long{
    grid-template-columns: repeat(6,1fr);
}
.long .heading{
    grid-column-end: 7;
}